<div class="container" *ngIf="(profile$ | async) as profile">

  <div class="profile-info" *ngIf="profile.user !== null">
    <img src="{{profile.user.photoURL}}" alt="photo" class="photo">

    <span class="name">{{profile.user.displayName}}</span>

    <div class="stat">
      <span class="type">Trips</span>
      <br>
      <span class="count">1000</span>
    </div>

    <div class="stat">
      <span class="type">Followers</span>
      <br>
      <span class="count">{{profile.user.followers}}</span>
    </div>

    <div class="stat">
      <span class="type">Followings</span>
      <br>
      <span class="count">{{profile.user.followings}}</span>
    </div>

    <mat-icon class="map-btn" (click)="openMap()" [ngClass]="{'active-btn': mapOpened}">map</mat-icon>
    <mat-icon class="about-btn" (click)="openAbout()" [ngClass]="{'active-btn': aboutOpened}">help_outline</mat-icon>
    <button class="follow-btn" *ngIf="profile.followed !== null" (click)="profile.followed ? unfollow() : follow()">{{ profile.followed ? 'Unfollow' : 'Follow'}}</button>

    <agm-map class="map" *ngIf="mapOpened"></agm-map>
    <div class="about" *ngIf="aboutOpened">
      <span>bio</span>
      <span class="bio">{{profile.user.bio}}</span>
    </div>
  </div>
</div>
