@import '../../../theme/wl-breakpoints';
@import '../../../theme/wl-colors';
:host {
  display: block;
  width: 700px;
  margin: auto;
  margin-top: 20px;
  .profile-data-container {
    border: 2px  solid #fff;
    box-sizing: border-box;
    .map {
      height: 400px;
    }
    .profile{
      position: relative;
      display: flex;
      img {
        position: absolute;
        height: 120px;
        width: 120px;
        bottom: 10px;
        left: 10px;
        border-radius: 50%;
        border: 3px solid #fff;
        cursor: pointer;
        &:hover{
          border: 3px solid $wl-primary;
          transition-duration: 300ms;
        }

      }
      .data {
        flex: 1 1 auto;
        background-color: #ffffff;
        ul {
          padding-left: 150px;
          display: flex;
          align-items: center;
          list-style: none;
          .stats {
            text-align: center;
            flex: 1 1 auto;
            cursor: pointer;
            color: rgba($color: #000000, $alpha: .5);
            &:hover {
              color: #000;
            }
          }
          .name {
            flex: 1 1 auto;
            font-size: 18px;
            font-weight: 500;
          }
          .follow-btn {
            background-color: $wl-primary;
            color: #fff;
            margin-right: 16px;
          }
        }
      }
    }
  }


  .actions {
    margin-top: 20px;
    background-color: #fff !important;
  }
}

@include media('<=phone') {
  :host {
    width: 100%;
    margin: 0;
  }
  .profile-data-container {
    border: 2px  solid #fff;
    box-sizing: border-box;
    .map {
      height: 400px;
    }
    .profile{
      position: relative;
      display: flex;
      img {
        position: absolute;
        height: 120px;
        width: 120px;
        bottom: 10px;
        left: 10px;
        border-radius: 50%;
      }
      .data {
        flex: 1 1 auto;
        background-color: #ffffff;
        ul {
          flex-wrap: wrap;
          .name {
            width: 100%;
            word-wrap: normal;
            text-align: center !important;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
