@import '../../../theme/wl-breakpoints';
@import '../../../theme/wl-colors';
app-nav{
  width:100%;
}
  .content {
    overflow-y: scroll;
    top: 64px;
    &::-webkit-scrollbar{
      width: 0.6rem;
    }
    &::-webkit-scrollbar-track{
      background: map-get($map: $wl-primary-palette, $key: 100);

    }
    &::-webkit-scrollbar-thumb{
      background: map-get($map: $wl-primary-palette, $key: 700);
      margin: auto;
      border-radius: 0.2rem;
    }
    @include media('<=phone') {
      top: 88px;
    }
  }
