<mat-toolbar class="nav" *ngIf="(currentUser$ | async) as user">

  <img src="" alt="logo" class="logo">
  <!-- MAJD KULON COMPONENT LESZ EZ CSAK IDEIGLENES -->
  <!-- <input type="text" class="search" placeholder="Search..."> -->
  <app-search class="search"></app-search>

  <div class="icon-menu">
    <app-notification class="icon-menu-item"></app-notification>
    <mat-icon class="icon-menu-item">comment</mat-icon>
    <mat-icon class="icon-menu-item" [routerLink]="['/home']" routerLinkActive="router-link-active">home</mat-icon>
    <mat-icon class="icon-menu-item" [routerLink]="['/discover']" routerLinkActive="router-link-active">public</mat-icon>
    <mat-icon class="icon-menu-item" [routerLink]="['/planning']" routerLinkActive="router-link-active" >add_location</mat-icon>
  </div>

  <div class="name" [routerLink]="['/profile', user.uid]">
    <img src="{{user.photoURL}}" alt="">
    <span class="text">{{user.displayName}}</span>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="appMenu" class="dropdown-trigger">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu" class="nav-dropdown-menu">
    <button mat-menu-item > <mat-icon>settings</mat-icon> Settings</button>
    <button mat-menu-item (click)="authService.signOut()"> <mat-icon>exit_to_app</mat-icon> Logout </button>
  </mat-menu>

</mat-toolbar>
