<div class="map"  #mapRef [ngStyle]="{'height': mapHeight}"></div>

<div class="tabs">
  <span class="tab" [ngClass]="{'active-tab': openedTab === 'places' }" (click)="openedTab = 'places' ">Places</span>
  <span class="tab" [ngClass]="{'active-tab': openedTab === 'prices' }" (click)="openedTab = 'prices' ">Prices</span>
  <span class="tab" [ngClass]="{'active-tab': openedTab === 'todo' }" (click)="openedTab = 'todo' ">Todo</span>
  <span class="tab" [ngClass]="{'active-tab': openedTab === 'coffer' }" (click)="openedTab = 'coffer' ">Coffer</span>
</div>
<app-place-group #placeGroupC [editable]="editable" [placeGroups]="plan.placeGroups" [map]='map' [hidden]="openedTab !== 'places' "></app-place-group>
<app-price-group #priceGroupC [editable]="editable" [priceGroups]="plan.priceGroups" [hidden]="openedTab !== 'prices' "></app-price-group>
<app-todo-group #todoGroupC [editable]="editable" [todoGroups]="plan.todoGroups" [hidden]="openedTab !== 'todo' "></app-todo-group>
<app-todo-group #cofferGroupC [editable]="editable" [todoGroups]="plan.cofferGroups" [hidden]="openedTab !== 'coffer' "></app-todo-group>

<!-- dinamikusan frissülő info window a markerhez,
  jobb szeparalva tartani, minden egyéb kontent után, mert egy villanásra kirenderelődik mielött a marker felhasználná -->
  <div class="info-window" #infoWindowContent>
    <div *ngIf="marker.place">
      <span class="iw-name iw-data" > {{marker.place.name}}</span>
      <span class="iw-address iw-data" >Address: {{marker.place.address}}</span>
      <span *ngIf="marker.place.rating" class="iw-rating iw-data" >Rating: {{marker.place.rating}}</span>
      <span *ngIf="marker.place.website" class="iv-web iv-data" ><a href="{{marker.place.website}}">Website</a></span>
      <div class="buttons" >
        <span *ngIf="placeGroup.placeGroups.length !== 0" class="text">Add to Group:</span>
        <button
          mat-button
          (click)="addMarkerToGroup(group)"
          [ngStyle]="{'background-color': group.color}"
          *ngFor="let group of placeGroup.placeGroups; index as i; trackBy:trackby">
          {{group.title}}
        </button>
      </div>
    </div>
</div>

