<div class="title">
  <span>{{planTitle}}</span>
  <button mat-button [disabled]="metaDataFormGroup.invalid" color="primary" (click)="plan.save(metaDataFormGroup, routerData ? routerData.id : null)">Save</button>
</div>
<form class="metadata" [formGroup]="metaDataFormGroup">

  <mat-form-field appearance="legacy" class="metadata-title" >
    <mat-label>Title</mat-label>
    <input matInput placeholder="" type="text" formControlName="title" [errorStateMatcher]="metaDataMatcher" required>
    <mat-error *ngIf="metaDataFormGroup.get('title').errors?.minlength">
      Title must have at least 2 character long
    </mat-error>
    <mat-error *ngIf="metaDataFormGroup.get('title').errors?.maxlength">
      Title must less than 20 character
    </mat-error>
    <mat-error *ngIf="metaDataFormGroup.get('title').errors?.required">
      Title is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="metadata-date">
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="start" formControlName="start">
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start [touchUi]="mobile"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="metadata-date">
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="end" formControlName="end">
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker #end [touchUi]="mobile"></mat-datepicker>
  </mat-form-field>

  <mat-checkbox formControlName="isPublic">Public</mat-checkbox>

</form>

<form action=""class="search">
  <mat-form-field appearance="legacy" >
    <mat-label>Find places...</mat-label>
    <input matInput placeholder="" type="text" #search>
  </mat-form-field>
</form>

<app-plan [editable]="true"></app-plan>





