@import '../../../theme/wl-breakpoints';

:host {
  width: 700px;
  margin: auto;
  display: block;
  background-color: #fff;
  margin-top: 20px;
  .actions {
    display: flex;
    justify-content: space-between;
  }
  @include media('<=phone') {
    width: 100%;
  }
}
