<mat-card [class.mat-elevation-z3]="true">
  <mat-card-header>
    <mat-card-title>Create post</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="createPost(f)">
      <mat-form-field>
        <textarea [mat-autosize]="true" matInput type="text" name="description" [matAutosizeMaxRows]="10" matInput ngModel placeholder="Post something..."></textarea>
      </mat-form-field>
      <button mat-button type="submit" [disabled]="!f.value.description">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
